In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from climateservaccess import getClimateservData, getBox, datatypeDict

# Define some parameters
start_date = '01/01/2016'
end_date = '01/30/2016'
LIS_res = 1
REGION = 'gambia'
gambia_box = [[-16.85, 13.85], [-16.85, 13.05], [-13.78, 13.05], [-13.78, 13.85], [-16.85, 13.85]]

In [3]:
for key, value in datatypeDict.items():

      df = getClimateservData(key, start_date, end_date, 0, 5, gambia_box)

      # Select data from df
      temp_data = pd.DataFrame(df['data'].to_list())

      break

REQUEST SUBMITTED: CHIRPS_Rainfall [0]
ID: d85c8cd0-1e0e-4657-89de-969cc47f089d
32.8%
100.0%
Data retrieved successfully.

In [4]:
temp_data.head()

,year,month,day,date,epochTime,value,raw_value,NaN,isodate
0,2016,1,1,01/01/2016,1451606400,{'avg': 0.004355316050350666},0.004355,8.2,01/01/2016
1,2016,1,2,01/02/2016,1451692800,{'avg': 0.07314392179250717},0.073144,8.2,01/02/2016
2,2016,1,3,01/03/2016,1451779200,{'avg': 0.040465909987688065},0.040466,8.2,01/03/2016
3,2016,1,4,01/04/2016,1451865600,{'avg': 0.11633820086717606},0.116338,8.2,01/04/2016
4,2016,1,5,01/05/2016,1451952000,{'avg': 0.0},0.000000,8.2,01/05/2016

In [ ]:
## Get time intervals (in days) for each datatype and each interval type (0, 1, 2) ##
## SPOILER ALERT: Each interval type produces the exact same time interval ##

with open(f'../test/interval_type_ref.csv', 'w') as f:

      f.write("datatype,0,1,2\n")
      for key, value in datatypeDict.items():
            
            outstring = f"{key},"
            for interval_type in range(3):

                  df = getClimateservData(key, start_date, end_date, interval_type, 5, getBox(lat=well['Latitude'], lon=well['Longitude'], res=LIS_res))

                  # Select data from df
                  temp_data = pd.DataFrame(df['data'].to_list())

                  if temp_data.empty:
                        outstring += f"NA,"
                        continue

                  # Calculate average time intervals in days between data points
                  temp_data['date'] = pd.to_datetime(temp_data['date'])
                  time_intervals = (temp_data['date'] - temp_data['date'].shift()).mean()
                  print(time_intervals.days)

                  outstring += f"{time_intervals.days},"
            outstring = outstring[:-1] + "\n"
            f.write(outstring)